<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset("/compiled/app.css") }}">
        {% endblock %}
    </head>
    <body>
        {% use 'bloc/nav.html.twig' %}
        {{ block('nav') }}
        {% block body %}{% endblock %}
        {% block javascripts %}
            <script type="text/javascript" src="{{ asset("/compiled/app.js") }}"></script>
        {% endblock %}
    </body>
</html>
