.bg-video {
    height: 100%;
    overflow: hidden;
    pointer-events: none;
    position: relative;
    width: 100%;
    z-index: -99;
    iframe {
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
    }
}
